<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.demo.mapper.LolHeroMapper" >
    <select id="selectAll" resultType="lolHero">
        select * from lolhero
    </select>

    <select id="findById" resultType="lolHero">
        select * from lolhero where id=#{id}
    </select>
</mapper>